# <b>CV0003: Introduction to Data Science and Artificial Intelligence Mini Project</b>

<b> Group Member:</b>
1.  ()
2.  ()
3.  ()
4.  ()
5.  ()
---

## <b>A. Problem Introduction</b>

- **Title:**   

- **Objective:**   

- **Motivation:**   

- **Research Questions:**

## <b>B. Data Extraction</b>
In this project, we use the API provided by DataMall to extract the real-time data.

Based on the description:
> From the dataset, important features may use:
- `timestamp`: time when the data was being extracted
- `carpark_id`: the carpark id
- `area`: where the carpark located
- `development`: what the carpark name
- `latitude`: latitude position
- `longitude`: longitude position
- `available_lots`: available lots during that time
- `lot_type`: the type of lot
- `agency`: who built the lot

> Use the `carpark_collector.py` file

## <b>C. Data Preparation</b>

In [1]:
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
sns.set()
import os 

import warnings 
warnings.filterwarnings("ignore")

In [2]:
# Combine the dataset into one dataframe
dir_path = r"C:\Personal Project\parking-availability\src\raw"
result_folder = r"C:\Personal Project\parking-availability\src\processed"

# Create an empty list to store dataframes
data_frames = []

# Loop through all the files in the directory
for filename in os.listdir(dir_path):
    if filename.endswith(".csv"):  # Check if the file is a CSV
        file_path = os.path.join(dir_path, filename)
        df = pd.read_csv(file_path)  # Read the CSV file into a DataFrame
        data_frames.append(df)  # Add the DataFrame to the list

# Concatenate all DataFrames
combined_df = pd.concat(data_frames, ignore_index=True)

# Save the concatenated DataFrame to a new CSV file
output_file = 'combined_file.csv'
os.makedirs(result_folder, exist_ok=True)
combined_df.to_csv(os.path.join(result_folder, output_file), index=False)

In [3]:
final_df = pd.read_csv (r"C:\Personal Project\parking-availability\src\processed\combined_file.csv")
final_df.sample(10) # random sample

,timestamp,carpark_id,area,development,latitude,longitude,available_lots,lot_type,agency
7559,2025-10-30 03:35:34,T3,NaN,BLK 109/114 TAMPINES STREET 11,1.346641,103.947442,102,C,HDB
6151,2025-10-29 16:45:54,B69,NaN,BLK 94A BEDOK NORTH AVENUE 4,1.333426,103.941971,276,C,HDB
3492,2025-10-29 05:29:26,B28,NaN,BLK 107/110 BEDOK NORTH ROAD,1.332545,103.935571,187,C,HDB
1253,2025-10-28 21:16:57,B59,NaN,BLK 716/718/721 BEDOK RESERVOIR ROAD,1.337509,103.925961,185,C,HDB
4414,2025-10-29 08:39:37,B43,NaN,BLK 519/522 553 BEDOK NORTH AVENUE 1/2,1.331105,103.927603,125,C,HDB
9059,2025-10-30 08:56:21,B27,NaN,BLK 101/106 BEDOK NORTH AVENUE 4,1.334118,103.938038,161,C,HDB
8790,2025-10-30 07:45:47,B60,NaN,BLK 722/725 BEDOK RESERVOIR ROAD,1.337232,103.929057,142,C,HDB
4562,2025-10-29 09:09:39,B47,NaN,BLK 540/542 BEDOK NORTH STREET 3,1.330896,103.922248,189,C,HDB
7520,2025-10-30 03:25:33,B24,NaN,BLK 84/89 BEDOK NORTH AVENUE 4,1.332647,103.938295,45,C,HDB
99,2025-10-28 16:13:40,B49,NaN,BLK 549/551 BEDOK NORTH AVENUE 1,1.332186,103.926668,112,C,HDB

In [4]:
final_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10480 entries, 0 to 10479
Data columns (total 9 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   timestamp       10480 non-null  object
 1   carpark_id      10480 non-null  object
 2   area            223 non-null    object
 3   development     10480 non-null  object
 4   latitude        10480 non-null  float64
 5   longitude       10480 non-null  float64
 6   available_lots  10480 non-null  int64
 7   lot_type        10480 non-null  object
 8   agency          10480 non-null  object
dtypes: float64(2), int64(1), object(6)
memory usage: 737.0+ KB

In [5]:
# Analyze unique for area column
area_unique = final_df['area'].unique()
area_unique

array(['Others', nan], dtype=object)

Based on this result, we can conclude that area column won't give any significant information to us. Therefore, we decide to take out from out dataframe.

In [6]:
final_df.drop (columns=['area'], inplace=True)

In [7]:
final_df

,timestamp,carpark_id,development,latitude,longitude,available_lots,lot_type,agency
0,2025-10-27 16:27:27,63,Tampines Mall,1.352524,103.944700,384,C,LTA
1,2025-10-27 16:27:27,P0109,PASIR RIS PARK CAR PARK E OFF STREET,1.384596,103.943893,0,C,URA
2,2025-10-27 16:27:27,P0109,PASIR RIS PARK CAR PARK E OFF STREET,1.384596,103.943893,6,Y,URA
3,2025-10-27 16:27:27,T1,BLK 101/108 TAMPINES STREET 11,1.347571,103.946943,261,C,HDB
4,2025-10-27 16:27:27,T3,BLK 109/114 TAMPINES STREET 11,1.346641,103.947442,178,C,HDB
...,...,...,...,...,...,...,...,...
10475,2025-10-30 15:32:49,B85,BLK 184 BEDOK NORTH ROAD,1.326080,103.941358,458,C,HDB
10476,2025-10-30 15:32:49,B86,BLK 114A BEDOK NORTH STREET 2,1.330767,103.935691,95,C,HDB
10477,2025-10-30 15:32:49,B89,BLK 116A BEDOK NORTH ROAD,1.330959,103.937265,169,C,HDB
10478,2025-10-30 15:32:49,B8B,BLK 222 BEDOK NORTH DRIVE,1.324792,103.927947,168,C,HDB
10479,2025-10-30 15:32:49,B94,BLK 513A BEDOK NORTH AVENUE 2,1.332260,103.929357,356,C,HDB

Since the Dtype for every column

In [8]:
final_df["timestamp"] = pd.to_datetime(final_df["timestamp"], format="%Y-%m-%d %H:%M:%S")
final_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10480 entries, 0 to 10479
Data columns (total 8 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   timestamp       10480 non-null  datetime64[ns]
 1   carpark_id      10480 non-null  object
 2   development     10480 non-null  object
 3   latitude        10480 non-null  float64
 4   longitude       10480 non-null  float64
 5   available_lots  10480 non-null  int64
 6   lot_type        10480 non-null  object
 7   agency          10480 non-null  object
dtypes: datetime64[ns](1), float64(2), int64(1), object(4)
memory usage: 655.1+ KB

In [9]:
final_df.sample (20)

,timestamp,carpark_id,development,latitude,longitude,available_lots,lot_type,agency
7075,2025-10-30 01:33:49,B7,BLK 211/218 BEDOK NORTH STREET 1,1.325131,103.931922,49,C,HDB
4113,2025-10-29 07:39:33,B25,BLK 91/97 BEDOK NORTH AVENUE 4,1.332969,103.940490,75,C,HDB
6870,2025-10-30 00:23:02,B60,BLK 722/725 BEDOK RESERVOIR ROAD,1.337232,103.929057,93,C,HDB
1965,2025-10-29 00:08:16,B42,BLK 509/511 BEDOK NORTH STREET 3,1.332452,103.930821,76,C,HDB
3152,2025-10-29 04:19:20,B24,BLK 84/89 BEDOK NORTH AVENUE 4,1.332647,103.938295,40,C,HDB
135,2025-10-28 16:23:42,B33,BLK 131/133 BEDOK NORTH AVENUE 3,1.327241,103.935800,90,C,HDB
1734,2025-10-28 23:07:37,B60,BLK 722/725 BEDOK RESERVOIR ROAD,1.337232,103.929057,99,C,HDB
7318,2025-10-30 02:45:17,T1,BLK 101/108 TAMPINES STREET 11,1.347571,103.946943,188,C,HDB
2596,2025-10-29 02:19:04,B49,BLK 549/551 BEDOK NORTH AVENUE 1,1.332186,103.926668,56,C,HDB
2057,2025-10-29 00:28:29,B34,BLK 134/136 BEDOK NORTH AVENUE 3,1.328312,103.935673,184,C,HDB
9316,2025-10-30 09:46:32,B49,BLK 549/551 BEDOK NORTH AVENUE 1,1.332186,103.926668,108,C,HDB
3647,2025-10-29 05:59:28,B44,BLK 528/536 BEDOK NORTH STREET 3,1.333971,103.927509,425,C,HDB
8804,2025-10-30 08:06:00,B8,BLK 201/203 BEDOK NORTH STREET 1,1.325881,103.928276,75,C,HDB
8295,2025-10-30 06:05:41,B32,BLK 130/132 BEDOK NORTH STREET 2,1.327411,103.936757,57,C,HDB
10151,2025-10-30 12:46:52,T3,BLK 109/114 TAMPINES STREET 11,1.346641,103.947442,189,C,HDB
9662,2025-10-30 10:56:39,B8B,BLK 222 BEDOK NORTH DRIVE,1.324792,103.927947,166,C,HDB
9536,2025-10-30 10:36:37,B24,BLK 84/89 BEDOK NORTH AVENUE 4,1.332647,103.938295,0,C,HDB
2696,2025-10-29 02:39:06,B70,BLK 201 BEDOK NORTH STREET 1,1.326290,103.927996,26,C,HDB
7343,2025-10-30 02:45:17,B44,BLK 528/536 BEDOK NORTH STREET 3,1.333971,103.927509,412,C,HDB
4667,2025-10-29 09:29:40,B85,BLK 184 BEDOK NORTH ROAD,1.326080,103.941358,434,C,HDB

After we have come up with the final data, we want to check the data regularity based on the timestamp

In [ ]:
final_df[final_df["development"] == "Tampines Mall"].tail (20)

,timestamp,carpark_id,development,latitude,longitude,available_lots,lot_type,agency
9520,2025-10-30 10:36:37,63,Tampines Mall,1.352524,103.9447,518,C,LTA
9568,2025-10-30 10:46:38,63,Tampines Mall,1.352524,103.9447,496,C,LTA
9616,2025-10-30 10:56:39,63,Tampines Mall,1.352524,103.9447,479,C,LTA
9664,2025-10-30 11:06:40,63,Tampines Mall,1.352524,103.9447,460,C,LTA
9712,2025-10-30 11:16:41,63,Tampines Mall,1.352524,103.9447,433,C,LTA
9760,2025-10-30 11:26:41,63,Tampines Mall,1.352524,103.9447,416,C,LTA
9808,2025-10-30 11:36:43,63,Tampines Mall,1.352524,103.9447,389,C,LTA
9856,2025-10-30 11:46:44,63,Tampines Mall,1.352524,103.9447,374,C,LTA
9904,2025-10-30 11:56:46,63,Tampines Mall,1.352524,103.9447,346,C,LTA
9952,2025-10-30 12:06:47,63,Tampines Mall,1.352524,103.9447,328,C,LTA
10000,2025-10-30 12:16:49,63,Tampines Mall,1.352524,103.9447,306,C,LTA
10048,2025-10-30 12:26:50,63,Tampines Mall,1.352524,103.9447,285,C,LTA
10096,2025-10-30 12:36:51,63,Tampines Mall,1.352524,103.9447,282,C,LTA
10144,2025-10-30 12:46:52,63,Tampines Mall,1.352524,103.9447,278,C,LTA
10192,2025-10-30 12:56:52,63,Tampines Mall,1.352524,103.9447,276,C,LTA
10240,2025-10-30 13:06:54,63,Tampines Mall,1.352524,103.9447,286,C,LTA
10288,2025-10-30 13:16:55,63,Tampines Mall,1.352524,103.9447,292,C,LTA
10336,2025-10-30 13:26:56,63,Tampines Mall,1.352524,103.9447,318,C,LTA
10384,2025-10-30 13:36:57,63,Tampines Mall,1.352524,103.9447,332,C,LTA
10432,2025-10-30 15:32:49,63,Tampines Mall,1.352524,103.9447,331,C,LTA

After we analyze the timestamp, we found out that the data doesn't have the same time gap. Consequestly, it will effect the time series

In [11]:
print (f"Car Park: {final_df["carpark_id"].nunique()}")
print (f"Unique timestamp: {final_df["timestamp"].nunique()}")

Car Park: 47
Unique timestamp: 225

In [12]:
unique_carparks = final_df[['carpark_id', 'lot_type']].drop_duplicates()
print(f"Found {len(unique_carparks)} car park-lot type combinations")

Found 48 car park-lot type combinations

In [13]:
resampled_dfs = []
    
# Step 3: Process each car park separately
for idx, row in unique_carparks.iterrows():
    carpark_id = row['carpark_id']
    lot_type = row['lot_type']
    
    # Filter data for this specific car park and lot type
    carpark_data = final_df[
        (final_df['carpark_id'] == carpark_id) & 
        (final_df['lot_type'] == lot_type)
    ].copy().sort_values('timestamp')
    
    # Get the first and last timestamp for this car park
    # This ensures we only create intervals within the monitoring period
    first_timestamp = carpark_data['timestamp'].iloc[0]
    last_timestamp = carpark_data['timestamp'].iloc[-1]
    
    # Create 10-minute time grid only for this car park's monitoring period
    # Floor the start and ceil the end to nearest 10 minutes
    time_grid_start = first_timestamp.floor('10min')
    time_grid_end = last_timestamp.ceil('10min')
    
    # Set timestamp as index for resampling
    carpark_data = carpark_data.set_index('timestamp')
    
    # Resample to 10-minute intervals
    # This creates a regular time grid and aligns existing data to it
    resampled = carpark_data.resample('10min').mean(numeric_only=True)
    
    # Interpolate the available_lots using linear interpolation
    # This estimates values between known data points
    # Example: 100 lots at 2:00, 80 lots at 2:20 → ~90 lots at 2:10
    resampled['available_lots'] = resampled['available_lots'].interpolate(
        method='linear'
    )
    
    # Round to nearest integer (can't have fractional parking spaces)
    resampled['available_lots'] = resampled['available_lots'].round().astype(int)
    
    # Reset index to get timestamp back as a column
    resampled = resampled.reset_index()
    
    # Add back the static columns that don't change over time
    resampled['carpark_id'] = carpark_id
    resampled['lot_type'] = lot_type
    resampled['development'] = carpark_data['development'].iloc[0]
    resampled['agency'] = carpark_data['agency'].iloc[0]
    resampled['latitude'] = carpark_data['latitude'].iloc[0]
    resampled['longitude'] = carpark_data['longitude'].iloc[0]
    
    # Add to the list of resampled dataframes
    resampled_dfs.append(resampled)

In [14]:
resampled_df = pd.concat(resampled_dfs, ignore_index=True)
    
# Sort by timestamp, then car park ID
resampled_df = resampled_df.sort_values(['timestamp', 'carpark_id', 'lot_type'])

# Reorder columns to match original structure
resampled_df = resampled_df[[
    'timestamp', 'carpark_id', 'development', 'latitude', 
    'longitude', 'available_lots', 'lot_type', 'agency'
]]

In [15]:
resampled_df[resampled_df["development"] == "Tampines Mall"]

,timestamp,carpark_id,development,latitude,longitude,available_lots,lot_type,agency
0,2025-10-27 16:20:00,63,Tampines Mall,1.352524,103.9447,384,C,LTA
1,2025-10-27 16:30:00,63,Tampines Mall,1.352524,103.9447,394,C,LTA
2,2025-10-27 16:40:00,63,Tampines Mall,1.352524,103.9447,381,C,LTA
3,2025-10-27 16:50:00,63,Tampines Mall,1.352524,103.9447,369,C,LTA
4,2025-10-27 17:00:00,63,Tampines Mall,1.352524,103.9447,369,C,LTA
...,...,...,...,...,...,...,...,...
423,2025-10-30 14:50:00,63,Tampines Mall,1.352524,103.9447,331,C,LTA
424,2025-10-30 15:00:00,63,Tampines Mall,1.352524,103.9447,331,C,LTA
425,2025-10-30 15:10:00,63,Tampines Mall,1.352524,103.9447,331,C,LTA
426,2025-10-30 15:20:00,63,Tampines Mall,1.352524,103.9447,331,C,LTA
427,2025-10-30 15:30:00,63,Tampines Mall,1.352524,103.9447,331,C,LTA

After being resampled using mean, the data are ready to explore.

## <b>D. Exploratory Data Analysis</b>

#### Phase 1: All Car Parks Aggregate Analysis

1.1 Statistical Analysis

In [33]:
stats_list = []

for carpark_id in resampled_df["carpark_id"].unique():
    metadata = resampled_df[resampled_df["carpark_id"] == carpark_id]

    # Basic statistics
    mean_avail = metadata["available_lots"].mean()
    median_avail = metadata["available_lots"].median()
    std_avail = metadata["available_lots"].std()
    max_avail = metadata["available_lots"].max()
    min_avail = metadata["available_lots"].min()

    # Capacity estimation (assume)
    capacity_est = max_avail

    # Utilization metrics
    percentage_full = (metadata["available_lots"] == 0).sum() / len(metadata) * 100
    average_occupancy_rate = (1 - mean_avail / capacity_est) * 100 if capacity_est > 0 else 0
    average_occupancy = (average_occupancy_rate / 100) * capacity_est

    # Volatility measure
    coefficient_of_variation = (std_avail / mean_avail) * 100 if mean_avail > 0 else 0

    # Peak hour analysis
    metadata['hour'] = metadata['timestamp'].dt.hour
    hourly_average = metadata.groupby('hour')['available_lots'].mean()
    peak_hour = hourly_average.idxmin()
    peak_hour_avg_avail = hourly_average.min()

    # Trend anlysis (positive = getting emptier, negative = getting fuller)
    metadata_sorted = metadata.sort_values('timestamp').reset_index(drop=True)
    if len (metadata_sorted) > 1:
        x = np.arange(len(metadata_sorted))
        y = metadata_sorted['available_lots'].values
        trend_slope = np.polyfit(x, y, 1)[0]
    else:
        trend_slope = 0
    
    # Get other attributes
    development = metadata['development'].iloc[0]
    agency = metadata['agency'].iloc[0]
    latitude = metadata['latitude'].iloc[0]
    longitude = metadata['longitude'].iloc[0]
    num_records = len(metadata)


    stats_list.append({
        'carpark_id': carpark_id,
        'development': development,
        'agency': agency,
        'latitude': latitude,
        'longitude': longitude,
        'mean_available_lots': mean_avail,
        'median_available_lots': median_avail,
        'std_available_lots': std_avail,
        'max_available_lots': max_avail,
        'min_available_lots': min_avail,
        'capacity_estimation': capacity_est,
        'percentage_time_full': percentage_full,
        'average_occupancy': average_occupancy,
        'average_occupancy_rate (%)': average_occupancy_rate,
        'coefficient_of_variation (%)': coefficient_of_variation,
        'peak_hour': peak_hour,
        'peak_hour_avg_available_lots': peak_hour_avg_avail,
        'trend_slope': trend_slope
    })

In [36]:
# Create DataFrame
stats_df = pd.DataFrame(stats_list)
stats_df.sort_values("average_occupancy", ascending=False, inplace=True)
stats_df.head(10)

,carpark_id,development,agency,latitude,longitude,mean_available_lots,median_available_lots,std_available_lots,max_available_lots,min_available_lots,capacity_estimation,percentage_time_full,average_occupancy,average_occupancy_rate (%),coefficient_of_variation (%),peak_hour,peak_hour_avg_available_lots,trend_slope
23,B40,BLK 504/508 BEDOK NORTH STREET 3,HDB,1.332550,103.932770,213.084211,282.0,179.594771,519,0,519,25.263158,305.915789,58.943312,84.283472,4,138.916667,1.660908
38,B79,BLK 772A BEDOK RESERVOIR VIEW,HDB,1.336776,103.937407,1106.943860,1110.0,195.545509,1373,767,1373,0.000000,266.056140,19.377723,17.665350,1,843.750000,0.932574
27,B44,BLK 528/536 BEDOK NORTH STREET 3,HDB,1.333971,103.927509,581.705263,582.0,138.268152,774,398,774,0.000000,192.294737,24.844281,23.769452,4,405.666667,0.311878
0,63,Tampines Mall,LTA,1.352524,103.944700,464.378505,409.0,124.563225,636,196,636,0.000000,171.621495,26.984512,26.823641,19,330.833333,0.351366
9,B11,BLK 416/418 BEDOK NORTH AVENUE 2,HDB,1.328342,103.930396,568.242105,570.0,95.133307,697,442,697,0.000000,128.757895,18.473156,16.741686,1,449.583333,0.250196
13,B25,BLK 91/97 BEDOK NORTH AVENUE 4,HDB,1.332969,103.940490,24.575439,14.0,30.415643,130,0,130,43.508772,105.424561,81.095816,123.764397,0,0.000000,0.130074
11,B21,BLK 74/82 BEDOK NORTH ROAD,HDB,1.328178,103.941046,315.505263,321.0,75.585351,411,211,411,0.000000,95.494737,23.234729,23.956922,2,215.416667,0.152830
7,T9,BLK 140/148 TAMPINES STREET 12,HDB,1.347816,103.943647,298.455607,331.0,67.070974,391,182,391,0.000000,92.544393,23.668643,22.472680,1,236.277778,-0.101605
8,B10,BLK 404/413 BEDOK NORTH AVENUE 3,HDB,1.329028,103.933708,261.771930,259.0,58.480531,353,186,353,0.000000,91.228070,25.843646,22.340260,3,188.583333,0.116559
33,B59,BLK 716/718/721 BEDOK RESERVOIR ROAD,HDB,1.337509,103.925961,209.456140,219.0,53.436243,284,133,284,0.000000,74.543860,26.247838,25.511901,4,137.000000,0.111830

In [39]:
# Display top 10 busiest car parks
print(f"\n🔴 TOP 10 BUSIEST CAR PARKS (Highest Occupancy):")
print(stats_df[['carpark_id', 'development', 'agency', 'average_occupancy_rate (%)', 'capacity_estimation', "average_occupancy"]].head(10).to_string(index=False))

# Display top 10 most underutilized
print(f"\n🟢 TOP 10 MOST UNDERUTILIZED CAR PARKS (Lowest Occupancy):")
print(stats_df[['carpark_id', 'development', 'agency', 'average_occupancy_rate (%)', 'capacity_estimation', "average_occupancy"]].tail(10).to_string(index=False))

# Display top 10 most volatile
print(f"\n⚡ TOP 10 MOST VOLATILE CAR PARKS:")
top_volatile = stats_df.nlargest(10, 'std_available_lots')
print(top_volatile[['carpark_id', 'development', 'agency', 'std_available_lots', 'mean_available_lots']].to_string(index=False))

# Display car parks that are frequently full
print(f"\n🚫 CAR PARKS FREQUENTLY AT FULL CAPACITY (>10% of time):")
frequently_full = stats_df[stats_df['percentage_time_full'] > 10].sort_values('percentage_time_full', ascending=False)
if len(frequently_full) > 0:
    print(frequently_full[['carpark_id', 'development', 'agency', 'percentage_time_full', 'capacity_estimation']].to_string(index=False))
else:
    print("   None found - all car parks have good availability!")

🔴 TOP 10 BUSIEST CAR PARKS (Highest Occupancy):
carpark_id                          development agency  average_occupancy_rate (%)  capacity_estimation  average_occupancy
       B40     BLK 504/508 BEDOK NORTH STREET 3    HDB                   58.943312                  519         305.915789
       B79        BLK 772A BEDOK RESERVOIR VIEW    HDB                   19.377723                 1373         266.056140
       B44     BLK 528/536 BEDOK NORTH STREET 3    HDB                   24.844281                  774         192.294737
        63                        Tampines Mall    LTA                   26.984512                  636         171.621495
       B11     BLK 416/418 BEDOK NORTH AVENUE 2    HDB                   18.473156                  697         128.757895
       B25       BLK 91/97 BEDOK NORTH AVENUE 4    HDB                   81.095816                  130         105.424561
       B21           BLK 74/82 BEDOK NORTH ROAD    HDB                   23.234729                  411          95.494737
        T9       BLK 140/148 TAMPINES STREET 12    HDB                   23.668643                  391          92.544393
       B10     BLK 404/413 BEDOK NORTH AVENUE 3    HDB                   25.843646                  353          91.228070
       B59 BLK 716/718/721 BEDOK RESERVOIR ROAD    HDB                   26.247838                  284          74.543860

🟢 TOP 10 MOST UNDERUTILIZED CAR PARKS (Lowest Occupancy):
carpark_id                          development agency  average_occupancy_rate (%)  capacity_estimation  average_occupancy
       B47     BLK 540/542 BEDOK NORTH STREET 3    HDB                   13.254386                  200          26.508772
       B45     BLK 537/539 BEDOK NORTH STREET 3    HDB                   58.181818                   44          25.600000
        T7       BLK 136/138 TAMPINES STREET 11    HDB                   27.398379                   83          22.740654
       B33     BLK 131/133 BEDOK NORTH AVENUE 3    HDB                   22.211902                  102          22.656140
        B8     BLK 201/203 BEDOK NORTH STREET 1    HDB                   26.546747                   79          20.971930
       B46         BLK 537 BEDOK NORTH STREET 3    HDB                   23.596491                   64          15.101754
     P0109 PASIR RIS PARK CAR PARK E OFF STREET    URA                   41.605474                   21           8.737150
       B70         BLK 201 BEDOK NORTH STREET 1    HDB                   19.714912                   32           6.308772
       B41         BLK 510 BEDOK NORTH STREET 3    HDB                   16.747638                   26           4.354386
       B14     BLK 412/413 BEDOK NORTH AVENUE 2    HDB                    0.000000                   61           0.000000

⚡ TOP 10 MOST VOLATILE CAR PARKS:
carpark_id                          development agency  std_available_lots  mean_available_lots
       B79        BLK 772A BEDOK RESERVOIR VIEW    HDB          195.545509          1106.943860
       B40     BLK 504/508 BEDOK NORTH STREET 3    HDB          179.594771           213.084211
       B44     BLK 528/536 BEDOK NORTH STREET 3    HDB          138.268152           581.705263
        63                        Tampines Mall    LTA          124.563225           464.378505
       B11     BLK 416/418 BEDOK NORTH AVENUE 2    HDB           95.133307           568.242105
       B21           BLK 74/82 BEDOK NORTH ROAD    HDB           75.585351           315.505263
        T9       BLK 140/148 TAMPINES STREET 12    HDB           67.070974           298.455607
       B10     BLK 404/413 BEDOK NORTH AVENUE 3    HDB           58.480531           261.771930
       B59 BLK 716/718/721 BEDOK RESERVOIR ROAD    HDB           53.436243           209.456140
       B85             BLK 184 BEDOK NORTH ROAD    HDB           48.851196           393.259649

🚫 CAR PARKS FREQUENTLY AT FULL CAPACITY (>10% of time):
carpark_id                      development agency  percentage_time_full  capacity_estimation
       B7A BLK 216/218 BEDOK NORTH STREET 1    HDB             83.508772                   32
       B24   BLK 84/89 BEDOK NORTH AVENUE 4    HDB             68.771930                   47
       B25   BLK 91/97 BEDOK NORTH AVENUE 4    HDB             43.508772                  130
       B40 BLK 504/508 BEDOK NORTH STREET 3    HDB             25.263158                  519
       B45 BLK 537/539 BEDOK NORTH STREET 3    HDB             20.000000                   44
        B7 BLK 211/218 BEDOK NORTH STREET 1    HDB             17.192982                   55

1.2 Scatter Plot

In [ ]:
# Create figure
fig, ax = plt.subplots(figsize=(14, 10))

# Color mapping for agencies
agency_colors = {
    'HDB': '#9B59B6',  # Purple
    'LTA': '#E74C3C',  # Red
    'URA': '#3498DB'   # Blue
}

# Plot each agency separately for legend
for agency in stats_df['agency'].unique():
    agency_data = stats_df[stats_df['agency'] == agency]
    
    ax.scatter(
        agency_data['average_occupancy_rate (%)'],
        agency_data['std_available_lots'],
        s=agency_data['capacity_estimation'] / 3,  # Size by capacity
        alpha=0.6,
        c=agency_colors.get(agency, '#95A5A6'),
        label=f'{agency} ({len(agency_data)} car parks)',
        edgecolors='black',
        linewidth=0.5
    )

# Add labels for interesting points
# Label the 5 most extreme points
extreme_points = pd.concat([
    stats_df.nlargest(2, 'std_available_lots'),  # Most volatile
    stats_df.nlargest(2, 'average_occupancy_rate (%)'),  # Busiest
    stats_df.nsmallest(1, 'average_occupancy_rate (%)')  # Least busy
])

for _, row in extreme_points.iterrows():
    ax.annotate(
        f"{row['carpark_id']}\n({row['development'][:15]}...)" if len(row['development']) > 15 else f"{row['carpark_id']}\n({row['development']})",
        xy=(row['average_occupancy_rate (%)'], row['std_available_lots']),
        xytext=(10, 10),
        textcoords='offset points',
        fontsize=8,
        bbox=dict(boxstyle='round,pad=0.3', facecolor='yellow', alpha=0.5),
        arrowprops=dict(arrowstyle='->', connectionstyle='arc3,rad=0', color='black', lw=0.5)
    )